.root {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  flex-wrap: wrap;
  max-width: 100%;
  position: relative;
  background: #e6e6e6;
  align-content: center;
  justify-content: center;
  min-width: 0;
  padding: 20px 64px;
}
@media (min-width: 0px) and (max-width: 800px) {
  .root {
    width: 1193px;
    padding: 40px;
  }
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 1380px;
  align-self: center;
  flex-wrap: nowrap;
  align-content: stretch;
  min-width: 0;
  padding: 30px 8px 8px;
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns > :nth-child(5n + 1) {
  width: calc((100% - 5 * 0px) * 3 / 12);
}
.columns > :nth-child(5n + 2) {
  width: calc((100% - 5 * 0px) * 3 / 12);
}
.columns > :nth-child(5n + 3) {
  width: calc((100% - 5 * 0px) * 2 / 12);
}
.columns > :nth-child(5n + 4) {
  width: calc((100% - 5 * 0px) * 2 / 12);
}
.columns > :nth-child(5n + 5) {
  width: calc((100% - 5 * 0px) * 2 / 12);
}
@media (min-width: 0px) and (max-width: 800px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 800px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__fqB7O {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.link__gquCq {
  display: flex;
}
.img {
  object-fit: cover;
  max-width: 100%;
  height: 78px;
  width: 165px;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: cover;
}
.img > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.embedHtml:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  margin-top: 49px;
}
.column__bknCg {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  align-content: stretch;
  min-width: 0;
  padding: 8px 8px 8px 28px;
}
@media (min-width: 0px) and (max-width: 800px) {
  .column__bknCg {
    padding-left: 8px;
  }
}
.h3__zbNt {
  width: 100%;
  height: auto;
  max-width: 128px;
  font-family: "Open Sans", sans-serif;
  padding-bottom: 10px;
  text-align: left;
  align-self: flex-start;
  min-width: 0;
}
.link__aN3G {
  position: relative;
  width: auto;
  height: auto;
  max-width: 622px;
  left: auto;
  top: auto;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #535353;
  line-height: 1.6;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  align-self: flex-start;
  padding: 0px;
  margin: 0px 0px 7px;
}
.link__dFoDn {
  width: auto;
  height: auto;
  max-width: 800px;
  align-self: flex-start;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #535353;
  line-height: 1.6;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding: 0px;
  margin: 0px 0px 7px;
}
.link__g7G0I {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.6;
  font-family: "Inter", sans-serif;
  color: #292d2f;
  width: auto;
  height: auto;
  max-width: 800px;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  align-self: flex-start;
  padding: 0px;
  margin: 0px 0px 7px;
}
.column___1HD7J {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 16px 8px 8px;
}
.h3___2Ko66 {
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Open Sans", sans-serif;
  padding-bottom: 10px;
  min-width: 0;
}
.link__j1MtN {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 622px;
  left: auto;
  top: auto;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #535353;
  line-height: 1.6;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  align-self: flex-start;
  min-width: 0;
  padding: 0px;
  margin: 0px 0px 7px;
}
@media (min-width: 0px) and (max-width: 800px) {
  .link__j1MtN {
    left: auto;
    top: auto;
  }
}
.link__gvVy {
  width: 100%;
  height: auto;
  max-width: 800px;
  align-self: flex-start;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #535353;
  line-height: 1.6;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  padding: 0px;
  margin: 0px 0px 7px;
}
.link__xz4Bb {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.6;
  font-family: "Inter", sans-serif;
  color: #292d2f;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  padding: 0px;
  margin: 0px 0px 7px;
}
.column___4Kf5U {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.h3__bCyzx {
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Open Sans", sans-serif;
  padding-bottom: 10px;
  min-width: 0;
}
.link__jT9Y7 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 622px;
  left: auto;
  top: auto;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #535353;
  line-height: 1.6;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  align-self: flex-start;
  min-width: 0;
  padding: 0px;
  margin: 0px 0px 7px;
}
.column___6Tm64 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.h3__nIvo4 {
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Open Sans", sans-serif;
  padding-bottom: 10px;
  align-self: flex-start;
  min-width: 0;
}
.link__bidMk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 622px;
  left: auto;
  top: auto;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #535353;
  line-height: 1.6;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  align-self: flex-start;
  min-width: 0;
  padding: 0px;
  margin: 0px 0px 7px;
}
@media (min-width: 0px) and (max-width: 800px) {
  .link__bidMk {
    left: auto;
    top: auto;
  }
}
.link__cToqF {
  width: 100%;
  height: auto;
  max-width: 800px;
  align-self: flex-start;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #535353;
  line-height: 1.6;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  margin: 0px 0px 7px;
}
.link__iuDjq {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.6;
  font-family: "Inter", sans-serif;
  color: #292d2f;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  align-self: flex-start;
  min-width: 0;
  margin: 0px 0px 7px;
}
