.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
}
.headerMainSection {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: linear-gradient(#000000c4, #000000c4),
    url("./images/roadG6F4064E2A1920Jpg.jpeg") right 33% bottom 106.94% / contain repeat fixed;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .headerMainSection {
    background: linear-gradient(#000000c4, #000000c4),
      url("./images/roadG6F4064E2A1920Jpg.jpeg") top 50% left 50% / cover repeat;
  }
}
.container {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-wrap: wrap;
  min-width: 0;
  padding: 0px;
}
.navBar:global(.__wab_instance) {
  position: relative;
}
.freeBox__fyx3F {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  max-width: 100%;
  align-self: flex-end;
  height: 527px;
  min-width: 0;
  padding: 51px 16px;
}
.freeBox__fyx3F > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__fyx3F > :global(.__wab_flex-container) > *,
.freeBox__fyx3F > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fyx3F > :global(.__wab_flex-container) > picture > img,
.freeBox__fyx3F
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.freeBox__fyx3F {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  position: relative;
  justify-content: center;
  max-width: 100%;
  align-self: flex-end;
  height: 527px;
  min-width: 0;
  padding: 51px 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fyx3F {
    width: 100%;
    min-width: 0;
    padding: 32px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fyx3F > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fyx3F {
    width: 100%;
    min-width: 0;
    padding: 32px;
  }
}
.reveal__ikYz5:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.scrollParallax:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.freeBox__a5Yo1 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 0px;
  min-width: 0;
  padding: 8px;
}
.h1 {
  width: 1639px;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-ol7Qe2B4StZTc);
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  padding-top: 0px;
  display: block;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1 {
    font-size: 48px;
  }
}
.freeBox__y10Mn {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: auto;
  min-width: 0;
  padding: 8px;
}
.h2__bkl6N {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__bkl6N {
    font-size: 25px;
  }
}
.section1 {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1130px;
  flex-wrap: wrap;
  min-width: 0;
  padding: 33px 8px 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section1 {
    padding-bottom: 27px;
    padding-left: 0px;
  }
}
.reveal__sNvBs:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.columns__b4UNk {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 0;
  padding: 8px;
}
.columns__b4UNk > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__b4UNk > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__b4UNk {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__b4UNk > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__xyFac {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__gNayM {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__gNayM > picture > img {
  object-fit: cover;
}
.img__gNayM > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__npQeD {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.rowContainer8 {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 880px;
  min-width: 0;
  padding: 8px;
}
.rowContainer8 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 0;
  margin-top: calc(0px - 18px);
  height: calc(100% + 18px);
}
.rowContainer8 > :global(.__wab_flex-container) > *,
.rowContainer8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.rowContainer8 > :global(.__wab_flex-container) > picture > img,
.rowContainer8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 18px;
}
.rowContainer8 {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 880px;
  flex-wrap: wrap;
  min-width: 0;
  padding: 8px;
}
.text__rW7E4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 0px;
  padding-bottom: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__rW7E4 {
    font-size: 14px;
    padding-top: 14px;
  }
}
.brownColorBg {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: auto;
  flex-wrap: wrap;
  background: linear-gradient(#2d2420cc, #2d2420cc),
    url("./images/image2.png") top 0% left 50% / cover repeat;
  min-width: 0;
  padding: 67px 8px 63px;
}
.reveal__me6KY:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  transition-property: all;
  transition-duration: 1s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.section12 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  transform: none;
  min-width: 0;
  padding: 8px;
}
.freeBox___57Sg {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.rowContainer3 {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1100px;
  flex-wrap: wrap;
  min-width: 0;
  padding: 8px;
}
.columns___2QyGh {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 950px;
  min-width: 0;
  padding: 8px;
}
.columns___2QyGh > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns___2QyGh > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___2QyGh {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___2QyGh > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__gNld {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.img__ysq5N {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 415px;
  width: 100%;
  filter: none;
  flex-shrink: 0;
}
.img__ysq5N > picture > img {
  object-fit: cover;
}
.img__ysq5N > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__ysq5N {
    height: 230px;
    flex-shrink: 0;
  }
}
.column__d6Dxb {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #3e3e3e80;
  min-width: 0;
  padding: 8px 8px 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__d6Dxb {
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: stretch;
  }
}
.freeBox__rjok7 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 30px;
  margin: 0px;
}
.freeBox__rjok7 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: center;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__rjok7 > :global(.__wab_flex-container) > *,
.freeBox__rjok7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rjok7 > :global(.__wab_flex-container) > picture > img,
.freeBox__rjok7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.freeBox__rjok7 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-wrap: wrap;
  align-content: center;
  min-width: 0;
  padding: 30px;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rjok7 {
    transform: translateX(0px) translateY(0px) translateZ(0px);
    margin: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rjok7 > :global(.__wab_flex-container) {
    align-content: center;
    justify-content: flex-start;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rjok7 {
    transform: translateX(0px) translateY(0px) translateZ(0px);
    align-content: center;
    justify-content: flex-start;
    margin: 0px;
  }
}
.h2___0HoAc {
  position: relative;
  width: 100%;
  height: auto;
  padding-left: 0px;
  padding-right: 0px;
  color: var(--token-ol7Qe2B4StZTc);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2___0HoAc {
    font-size: 25px;
    text-align: left;
  }
}
.text__peKyU {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 0px;
  color: var(--token-ol7Qe2B4StZTc);
  padding-bottom: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__peKyU {
    font-size: 14px;
  }
}
.text__tfgvi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 0px;
  color: var(--token-ol7Qe2B4StZTc);
  padding-bottom: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__tfgvi {
    font-size: 14px;
  }
}
.button__ofqqq:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 154px;
  height: 47px;
  flex-shrink: 0;
  display: none;
}
.svg__heDqG {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__dbRov {
  color: var(--token-jwgtaPjdctRxT);
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
}
.svg__kvmTb {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.reveal__ieo93:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.section13 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__e6H9G {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.rowContainer9 {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1100px;
  flex-wrap: wrap;
  min-width: 0;
  padding: 8px;
}
.columns__nLmBj {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  max-width: 950px;
  min-width: 0;
  padding: 8px;
}
.columns__nLmBj > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__nLmBj > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__nLmBj {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__nLmBj > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__yrkoE {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.img__aKxwI {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  transform: none;
  height: 415px;
  width: 100%;
  flex-shrink: 0;
}
.img__aKxwI > picture > img {
  object-fit: cover;
}
.img__aKxwI > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__aKxwI {
    transform: translateX(0px) translateY(0px) translateZ(0px);
    height: 230px;
    flex-shrink: 0;
  }
}
.column__s9Saz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #3e3e3e80;
  min-width: 0;
  padding: 8px 8px 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__s9Saz {
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: stretch;
  }
}
.h2__sOaRw {
  position: relative;
  width: 100%;
  height: auto;
  padding-left: 27px;
  padding-right: 0px;
  color: var(--token-ol7Qe2B4StZTc);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__sOaRw {
    font-size: 25px;
    text-align: left;
  }
}
.freeBox__nLpQ0 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 30px;
  margin: 0px;
}
.freeBox__nLpQ0 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: center;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__nLpQ0 > :global(.__wab_flex-container) > *,
.freeBox__nLpQ0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nLpQ0 > :global(.__wab_flex-container) > picture > img,
.freeBox__nLpQ0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 20px;
}
.freeBox__nLpQ0 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-wrap: wrap;
  align-content: center;
  min-width: 0;
  padding: 30px;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nLpQ0 {
    transform: translateX(0px) translateY(0px) translateZ(0px);
    margin: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nLpQ0 > :global(.__wab_flex-container) {
    align-content: center;
    justify-content: flex-start;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nLpQ0 {
    transform: translateX(0px) translateY(0px) translateZ(0px);
    align-content: center;
    justify-content: flex-start;
    margin: 0px;
  }
}
.text___3CUe {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 0px;
  color: var(--token-ol7Qe2B4StZTc);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___3CUe {
    font-size: 14px;
    height: auto;
  }
}
.button__q8Zsb:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 154px;
  height: 47px;
  flex-shrink: 0;
  display: none;
}
.svg__cYzZu {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text___9R7QU {
  color: var(--token-jwgtaPjdctRxT);
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
}
.svg__jAaRx {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.reveal__sGy0Q:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.section14 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__oyOd {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.rowContainer10 {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1100px;
  flex-wrap: wrap;
  min-width: 0;
  padding: 8px;
}
.columns__znkNa {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 950px;
  min-width: 0;
  padding: 8px;
}
.columns__znkNa > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__znkNa > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__znkNa {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__znkNa > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__mQgT8 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.img__yltb3 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  filter: none;
  height: 415px;
  width: 100%;
  flex-shrink: 0;
}
.img__yltb3 > picture > img {
  object-fit: cover;
}
.img__yltb3 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__yltb3 {
    height: 230px;
    flex-shrink: 0;
  }
}
.column__rRPgG {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #3e3e3e80;
  min-width: 0;
  padding: 8px 8px 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__rRPgG {
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: stretch;
  }
}
.freeBox__uVEiW {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 30px;
  margin: 0px;
}
.freeBox__uVEiW > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: center;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__uVEiW > :global(.__wab_flex-container) > *,
.freeBox__uVEiW > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uVEiW > :global(.__wab_flex-container) > picture > img,
.freeBox__uVEiW
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.freeBox__uVEiW {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-wrap: wrap;
  align-content: center;
  min-width: 0;
  padding: 30px;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__uVEiW {
    transform: translateX(0px) translateY(0px) translateZ(0px);
    margin: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__uVEiW > :global(.__wab_flex-container) {
    align-content: center;
    justify-content: flex-start;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__uVEiW {
    transform: translateX(0px) translateY(0px) translateZ(0px);
    align-content: center;
    justify-content: flex-start;
    margin: 0px;
  }
}
.h2__lut {
  position: relative;
  width: 100%;
  height: auto;
  padding-left: 0px;
  padding-right: 0px;
  color: var(--token-ol7Qe2B4StZTc);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__lut {
    font-size: 25px;
    text-align: left;
  }
}
.text__pAwaT {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 0px;
  color: var(--token-ol7Qe2B4StZTc);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__pAwaT {
    font-size: 14px;
    height: auto;
  }
}
.button__ql2Km:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 154px;
  height: 47px;
  flex-shrink: 0;
  display: none;
}
.svg__lBe {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__zxN8Z {
  color: var(--token-jwgtaPjdctRxT);
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
}
.svg__pcuYj {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__a32BK {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 54px 8px;
}
.freeBox__zVuDg {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 1380px;
  min-width: 0;
  padding: 8px;
}
.freeBox__zVuDg > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 44px);
  width: calc(100% + 44px);
}
.freeBox__zVuDg > :global(.__wab_flex-container) > *,
.freeBox__zVuDg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zVuDg > :global(.__wab_flex-container) > picture > img,
.freeBox__zVuDg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 44px;
}
.freeBox__zVuDg {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 1380px;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zVuDg > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    align-items: stretch;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zVuDg {
    flex-wrap: wrap;
    align-items: stretch;
  }
}
.columns__cJbQ {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  min-width: 0;
  padding: 8px;
}
.columns__cJbQ > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 0;
  margin-left: calc(0px - 30px);
  width: calc(100% + 30px);
}
.columns__cJbQ > :global(.__wab_flex-container) > *,
.columns__cJbQ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__cJbQ > :global(.__wab_flex-container) > picture > img,
.columns__cJbQ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 30px;
}
.columns__cJbQ {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 0;
  padding: 8px;
}
.columns__cJbQ > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 30px) * 6 / 12);
}
.columns__cJbQ > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 30px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__cJbQ {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__cJbQ > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__cJbQ {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__cJbQ > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 30px) * 12 / 12);
  }
}
.column__i5S2R {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img___41X1Z {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 434px;
  align-self: flex-end;
  filter: brightness(65%);
  min-width: 0;
  flex-shrink: 0;
}
.img___41X1Z > picture > img {
  object-fit: cover;
}
.img___41X1Z > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img___41X1Z {
    max-width: none;
  }
}
.link__ivCy3 {
  position: absolute;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  bottom: 40%;
  background: #31313161;
  color: var(--token-ol7Qe2B4StZTc);
  padding: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__ivCy3 {
    font-size: 30px;
  }
}
.h2__vXxmd {
  color: var(--token-ol7Qe2B4StZTc);
}
.column___6La1O {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__yQq {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 434px;
  align-self: flex-start;
  filter: brightness(75%);
  min-width: 0;
  flex-shrink: 0;
}
.img__yQq > picture > img {
  object-fit: cover;
}
.img__yQq > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__yQq {
    max-width: none;
  }
}
.link__zLxv1 {
  position: absolute;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  background: #31313161;
  bottom: 40%;
  color: var(--token-ol7Qe2B4StZTc);
  padding: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__zLxv1 {
    font-size: 30px;
    left: auto;
    top: auto;
    bottom: auto;
  }
}
.h2__uj9FX {
  color: var(--token-ol7Qe2B4StZTc);
}
.footerTop:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 2143px;
}
.footer:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.footerBottom:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
