.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  flex-shrink: 0;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.columns__dldl8 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  min-width: 0;
  padding: 8px;
}
.columns__dldl8 > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 0;
  margin-left: calc(0px - 30px);
  width: calc(100% + 30px);
}
.columns__dldl8 > :global(.__wab_flex-container) > *,
.columns__dldl8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__dldl8 > :global(.__wab_flex-container) > picture > img,
.columns__dldl8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 30px;
}
.columns__dldl8 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 0;
  padding: 8px;
}
.columns__dldl8 > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 30px) * 6 / 12);
}
.columns__dldl8 > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 30px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__dldl8 {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__dldl8 > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__dldl8 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__dldl8 > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 30px) * 12 / 12);
  }
}
.column__cHoEh {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__kkFnA {
  object-fit: cover;
  max-width: 100%;
  width: auto;
  height: auto;
  flex-shrink: 0;
  flex-grow: 0;
}
.img__kkFnA > picture > img {
  object-fit: cover;
}
.img__kkFnA > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.link__w6FEj {
  position: absolute;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  bottom: 40%;
  background: #31313161;
  color: var(--token-ol7Qe2B4StZTc);
  padding: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__w6FEj {
    font-size: 30px;
  }
}
.h2___4Uby {
  color: var(--token-ol7Qe2B4StZTc);
  padding-top: 0px;
}
.column__erqjK {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px 8px 55px;
}
.img__do6ZM {
  object-fit: cover;
  max-width: 100%;
  height: auto;
  width: auto;
  flex-shrink: 0;
}
.img__do6ZM > picture > img {
  object-fit: cover;
}
.img__do6ZM > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.link__hRgK {
  position: absolute;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  background: #31313161;
  bottom: 40%;
  color: var(--token-ol7Qe2B4StZTc);
  padding: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__hRgK {
    font-size: 30px;
    left: auto;
    top: auto;
    bottom: auto;
  }
}
.h2__xS4Iy {
  color: var(--token-ol7Qe2B4StZTc);
}
.columns__rIsKk {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  flex-grow: 0;
  min-width: 0;
  padding: 8px;
}
.columns__rIsKk > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 0;
  margin-left: calc(0px - 30px);
  width: calc(100% + 30px);
}
.columns__rIsKk > :global(.__wab_flex-container) > *,
.columns__rIsKk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__rIsKk > :global(.__wab_flex-container) > picture > img,
.columns__rIsKk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 30px;
}
.columns__rIsKk {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 0;
  min-width: 0;
  padding: 8px;
}
.columns__rIsKk > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 30px) * 6 / 12);
}
.columns__rIsKk > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 30px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__rIsKk {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__rIsKk > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__rIsKk {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__rIsKk > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 30px) * 12 / 12);
  }
}
.column__y6Aze {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__l0IMz {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.img__l0IMz > picture > img {
  object-fit: cover;
}
.img__l0IMz > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.link___83Zos {
  position: absolute;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  bottom: 40%;
  background: #31313161;
  color: var(--token-ol7Qe2B4StZTc);
  padding: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link___83Zos {
    font-size: 30px;
  }
}
.h2__xqxiS {
  color: var(--token-ol7Qe2B4StZTc);
  padding-top: 0px;
}
.column__qQNlJ {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__txCnE {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  left: 0px;
  top: 0px;
  width: auto;
  height: auto;
}
.img__txCnE > picture > img {
  object-fit: cover;
}
.img__txCnE > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.link__eGrv {
  position: absolute;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  background: #31313161;
  bottom: 40%;
  color: var(--token-ol7Qe2B4StZTc);
  padding: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__eGrv {
    font-size: 30px;
    left: auto;
    top: auto;
    bottom: auto;
  }
}
.h2___7HfKy {
  color: var(--token-ol7Qe2B4StZTc);
}
