.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: auto;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  flex-wrap: nowrap;
  align-content: stretch;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 0px;
}
.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: stretch;
  overflow: auto;
  flex-wrap: nowrap;
  align-content: stretch;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.scrollParallax___8Qm35:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.headerMainSection {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: linear-gradient(#000000c4, #000000c4),
    url("./images/roadG6F4064E2A1920Jpg.jpeg") top 50% left 50% / cover repeat fixed;
  min-width: 0;
  padding: 0px;
}
.container {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-wrap: wrap;
  min-width: 0;
  padding: 0px;
}
.navBar:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin: 50px 0px 0px;
}
.freeBox__c9Den {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  max-width: 100%;
  align-self: flex-start;
  margin-bottom: 50px;
  min-width: 0;
  padding: 52px 16px 53px;
}
.freeBox__c9Den > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__c9Den > :global(.__wab_flex-container) > *,
.freeBox__c9Den > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__c9Den > :global(.__wab_flex-container) > picture > img,
.freeBox__c9Den
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.freeBox__c9Den {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  position: relative;
  justify-content: center;
  max-width: 100%;
  align-self: flex-start;
  margin-bottom: 50px;
  min-width: 0;
  padding: 52px 16px 53px;
}
@media (min-width: 0px) and (max-width: 800px) {
  .freeBox__c9Den {
    width: 100%;
    min-width: 0;
    padding: 32px;
  }
}
@media (min-width: 0px) and (max-width: 800px) {
  .freeBox__c9Den > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 800px) {
  .freeBox__c9Den {
    width: 100%;
    min-width: 0;
    padding: 32px;
  }
}
.reveal__fjCiD:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.h1 {
  width: 1639px;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-ol7Qe2B4StZTc);
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  padding-top: 0px;
}
@media (min-width: 0px) and (max-width: 800px) {
  .h1 {
    font-size: 48px;
  }
}
.freeBox__oImN8 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: auto;
  min-width: 0;
  padding: 8px;
}
.section1 {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1299px;
  flex-wrap: wrap;
  min-width: 0;
  padding: 33px 8px 20px;
}
@media (min-width: 0px) and (max-width: 800px) {
  .section1 {
    padding-bottom: 27px;
    padding-left: 0px;
  }
}
.reveal__g25Vu:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.scrollParallax__ub2L2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.columns__pKhX {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 0;
  padding: 8px;
}
.columns__pKhX > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 800px) {
  .columns__pKhX {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 800px) {
  .columns__pKhX > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column___9I0Hr {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.rowContainer8 {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 880px;
  min-width: 0;
  padding: 8px;
}
.rowContainer8 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 0;
  margin-top: calc(0px - 18px);
  height: calc(100% + 18px);
}
.rowContainer8 > :global(.__wab_flex-container) > *,
.rowContainer8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.rowContainer8 > :global(.__wab_flex-container) > picture > img,
.rowContainer8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 18px;
}
.rowContainer8 {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 880px;
  flex-wrap: wrap;
  min-width: 0;
  padding: 8px;
}
.h2__wpIoz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 800px) {
  .h2__wpIoz {
    font-size: 25px;
  }
}
.text__yaSl4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 0px;
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 800px) {
  .text__yaSl4 {
    font-size: 14px;
    padding-top: 14px;
  }
}
.scrollParallax__hOngv:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.brownColorBg {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: auto;
  flex-wrap: wrap;
  background: linear-gradient(#2d2420cc, #2d2420cc),
    url("./images/image2.png") top 0% left 50% / cover repeat;
  min-width: 0;
  padding: 67px 8px 63px;
}
.scrollParallax__ucscY:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.reveal__uteu:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.section13 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.rowContainer9 {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1100px;
  flex-wrap: wrap;
  min-width: 0;
  padding: 8px;
}
.productBox__h47ZG:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__a86Z {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__nKx1N {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.columns__jsr2M {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__jsr2M > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__jsr2M > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 800px) {
  .columns__jsr2M {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 800px) {
  .columns__jsr2M > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__dsQp1 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #3e3e3e80;
  min-width: 0;
  padding: 8px;
}
.freeBox__pvIdW {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox___78W5U {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 30px;
}
.freeBox___78W5U > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox___78W5U > :global(.__wab_flex-container) > *,
.freeBox___78W5U > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___78W5U > :global(.__wab_flex-container) > picture > img,
.freeBox___78W5U
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.freeBox___78W5U {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 30px;
}
.productBox___4GIzH:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.text__beLPy {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-family: "Playfair Display", serif;
  font-size: 36px;
}
.text__vrJq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-ol7Qe2B4StZTc);
  text-align: left;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 800px) {
  .text__vrJq {
    font-size: 14px;
  }
}
.text__qlZlq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-weight: 700;
  min-width: 0;
}
.textInput:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__ooJwp {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__yK2Se {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__nirgX {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-weight: 700;
  min-width: 0;
}
.textInput2:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__kocO8 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg___5U3V {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__kOfxZ:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: calc(20px + 20px) !important;
  flex-shrink: 0;
}
.svg__py5AS {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.link__s6DH5 {
  margin-top: 0px;
  color: #ffffff;
}
.svg__rGyAf {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__mBdLz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__dc6P {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__dc6P > picture > img {
  object-fit: cover;
}
.img__dc6P > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.scrollParallax___8YEw3:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.reveal__uWyHl:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.section14 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.rowContainer10 {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1100px;
  flex-wrap: wrap;
  min-width: 0;
  padding: 8px;
}
.productBox__lgrAl:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__j37Gv {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__jMiJ {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.columns__ialHn {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__ialHn > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__ialHn > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 800px) {
  .columns__ialHn {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 800px) {
  .columns__ialHn > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__jp8Bx {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #3e3e3e80;
  min-width: 0;
  padding: 8px;
}
.freeBox__eZAel {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__xwyaw {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 30px;
}
.freeBox__xwyaw > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__xwyaw > :global(.__wab_flex-container) > *,
.freeBox__xwyaw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xwyaw > :global(.__wab_flex-container) > picture > img,
.freeBox__xwyaw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.freeBox__xwyaw {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 30px;
}
.productBox__dx5Oa:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.productTextField:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-family: "Playfair Display", serif;
  font-size: 36px;
  color: #ffffff;
}
.text__x99HU {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 0px;
  color: var(--token-ol7Qe2B4StZTc);
  text-align: left;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 800px) {
  .text__x99HU {
    font-size: 14px;
  }
}
.text__rmnFa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-weight: 700;
  min-width: 0;
}
.textInput3:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__zPiWp {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__nrq7 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__zcViJ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-weight: 700;
  min-width: 0;
}
.textInput4:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__fiTgH {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg___1Z0C {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__sPNw:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: calc(20px + 20px) !important;
  flex-shrink: 0;
}
.svg__hrVhv {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.link__kZyaa {
  margin-top: 0px;
  color: #ffffff;
}
.svg__jr3N7 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__luIKm {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__f4827 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.img__f4827 > picture > img {
  object-fit: cover;
}
.img__f4827 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.scrollParallax__cAr6Y:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.reveal__qnjQh:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.section15 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.rowContainer11 {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1100px;
  flex-wrap: wrap;
  min-width: 0;
  padding: 8px;
}
.productBox__w1P02:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox___1BZsU {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox___0TCtp {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.columns__oaUa6 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__oaUa6 > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__oaUa6 > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 800px) {
  .columns__oaUa6 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 800px) {
  .columns__oaUa6 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__v6Gek {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #3e3e3e80;
  min-width: 0;
  padding: 8px;
}
.freeBox__bbpOo {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox___0VWgn {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 30px;
}
.freeBox___0VWgn > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox___0VWgn > :global(.__wab_flex-container) > *,
.freeBox___0VWgn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___0VWgn > :global(.__wab_flex-container) > picture > img,
.freeBox___0VWgn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.freeBox___0VWgn {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 30px;
}
.text__rs2Sh {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-family: "Playfair Display", serif;
  font-size: 36px;
}
.text___1BM13 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 0px;
  color: var(--token-ol7Qe2B4StZTc);
  text-align: left;
  padding-right: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 800px) {
  .text___1BM13 {
    font-size: 14px;
  }
}
.text__sMcj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-weight: 700;
  min-width: 0;
}
.textInput5:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__lNgbV {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__uhTsl {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__ht2ZA {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-weight: 700;
  min-width: 0;
}
.textInput6:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__avnNr {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__v1Ar {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button___75ZOv:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: calc(20px + 20px) !important;
  flex-shrink: 0;
}
.svg__ykPsS {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.link__a99ZT {
  margin-top: 0px;
  display: flex;
  flex-direction: row;
  max-width: none;
  width: 100%;
  height: 100%;
  flex-grow: 0;
  min-width: 0;
  min-height: 0;
}
.slotTargetChildren {
  color: #ffffff;
}
.svg__gBy7N {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__aUvYe {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__zd39 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.img__zd39 > picture > img {
  object-fit: cover;
}
.img__zd39 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__qzVbs {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 54px 8px;
}
.reveal__lrF8:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 1378px;
  flex-shrink: 0;
}
.freeBox__wfvXa {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 1380px;
  min-width: 0;
  padding: 8px;
}
.freeBox__wfvXa > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 44px);
  width: calc(100% + 44px);
}
.freeBox__wfvXa > :global(.__wab_flex-container) > *,
.freeBox__wfvXa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wfvXa > :global(.__wab_flex-container) > picture > img,
.freeBox__wfvXa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 44px;
}
.freeBox__wfvXa {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 1380px;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 800px) {
  .freeBox__wfvXa > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    align-items: stretch;
  }
}
@media (min-width: 0px) and (max-width: 800px) {
  .freeBox__wfvXa {
    flex-wrap: wrap;
    align-items: stretch;
  }
}
.columns___5Nb9 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  min-width: 0;
  padding: 8px;
}
.columns___5Nb9 > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 0;
  margin-left: calc(0px - 30px);
  width: calc(100% + 30px);
}
.columns___5Nb9 > :global(.__wab_flex-container) > *,
.columns___5Nb9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns___5Nb9 > :global(.__wab_flex-container) > picture > img,
.columns___5Nb9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 30px;
}
.columns___5Nb9 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 0;
  padding: 8px;
}
.columns___5Nb9 > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 30px) * 6 / 12);
}
.columns___5Nb9 > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 30px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 800px) {
  .columns___5Nb9 {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 800px) {
  .columns___5Nb9 > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 800px) {
  .columns___5Nb9 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 800px) {
  .columns___5Nb9 > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 30px) * 12 / 12);
  }
}
.column__pjRkP {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__ztQYv {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 434px;
  align-self: flex-end;
  filter: brightness(65%);
  min-width: 0;
  flex-shrink: 0;
}
.img__ztQYv > picture > img {
  object-fit: cover;
}
.img__ztQYv > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 800px) {
  .img__ztQYv {
    max-width: none;
  }
}
.link___0Vrtl {
  position: absolute;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  bottom: 40%;
  background: #31313161;
  color: var(--token-ol7Qe2B4StZTc);
  padding: 12px;
}
@media (min-width: 0px) and (max-width: 800px) {
  .link___0Vrtl {
    font-size: 30px;
  }
}
.h2__spFnN {
  color: var(--token-ol7Qe2B4StZTc);
}
.column__jcFxR {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__qwCdn {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 434px;
  align-self: flex-start;
  filter: brightness(75%);
  min-width: 0;
  flex-shrink: 0;
}
.img__qwCdn > picture > img {
  object-fit: cover;
}
.img__qwCdn > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 800px) {
  .img__qwCdn {
    max-width: none;
  }
}
.link___7Wrzu {
  position: absolute;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  background: #31313161;
  bottom: 40%;
  color: var(--token-ol7Qe2B4StZTc);
  padding: 12px;
}
@media (min-width: 0px) and (max-width: 800px) {
  .link___7Wrzu {
    font-size: 30px;
    left: auto;
    top: auto;
    bottom: auto;
  }
}
.h2__voSnN {
  color: var(--token-ol7Qe2B4StZTc);
}
.reveal__pFtMc:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.footerTop:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 2002px;
}
.footer:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
@media (min-width: 0px) and (max-width: 800px) {
  .footer:global(.__wab_instance) {
    display: none;
  }
}
.footerBottom:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
