.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
}
.headerMainSection {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: linear-gradient(#000000c4, #000000c4),
    url("./images/roadG6F4064E2A1920Jpg.jpeg") right 33% bottom 106.94% / contain repeat fixed;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .headerMainSection {
    background: linear-gradient(#000000c4, #000000c4),
      url("./images/roadG6F4064E2A1920Jpg.jpeg") top 50% left 50% / cover repeat;
  }
}
.container {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-wrap: wrap;
  min-width: 0;
  padding: 0px;
}
.navBar:global(.__wab_instance) {
  position: relative;
}
.freeBox__ckAs4 {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  max-width: 100%;
  align-self: flex-end;
  height: 527px;
  min-width: 0;
  padding: 51px 16px;
}
.freeBox__ckAs4 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__ckAs4 > :global(.__wab_flex-container) > *,
.freeBox__ckAs4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ckAs4 > :global(.__wab_flex-container) > picture > img,
.freeBox__ckAs4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.freeBox__ckAs4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  position: relative;
  justify-content: center;
  max-width: 100%;
  align-self: flex-end;
  height: 527px;
  min-width: 0;
  padding: 51px 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ckAs4 {
    width: 100%;
    min-width: 0;
    padding: 32px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ckAs4 > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ckAs4 {
    width: 100%;
    min-width: 0;
    padding: 32px;
  }
}
.reveal__rCiVf:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.scrollParallax___5FEeu:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.freeBox___1GpUg {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 0px;
  min-width: 0;
  padding: 8px;
}
.h1 {
  width: 1639px;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-ol7Qe2B4StZTc);
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  padding-top: 0px;
  display: block;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1 {
    font-size: 48px;
  }
}
.scrollParallax__rxc8O:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.freeBox__j5Wy8 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: auto;
  min-width: 0;
  padding: 8px;
}
.section1 {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1130px;
  flex-wrap: wrap;
  min-width: 0;
  padding: 33px 8px 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section1 {
    padding-bottom: 27px;
    padding-left: 0px;
  }
}
.reveal__ggJa6:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.columns__bnZ2 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 0;
  padding: 8px;
}
.columns__bnZ2 > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__bnZ2 > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__bnZ2 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__bnZ2 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column___0N9Ko {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__tOkpv {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__tOkpv > picture > img {
  object-fit: cover;
}
.img__tOkpv > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__gbnlc {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.rowContainer8 {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 880px;
  min-width: 0;
  padding: 8px;
}
.rowContainer8 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 0;
  margin-top: calc(0px - 18px);
  height: calc(100% + 18px);
}
.rowContainer8 > :global(.__wab_flex-container) > *,
.rowContainer8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.rowContainer8 > :global(.__wab_flex-container) > picture > img,
.rowContainer8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 18px;
}
.rowContainer8 {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 880px;
  flex-wrap: wrap;
  min-width: 0;
  padding: 8px;
}
.h2__bucMj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__bucMj {
    font-size: 25px;
  }
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 0px;
  padding-bottom: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text {
    font-size: 14px;
    padding-top: 14px;
  }
}
.freeBox__lGHeJ {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 54px 8px;
}
.freeBox__pimOa {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 1380px;
  min-width: 0;
  padding: 8px;
}
.freeBox__pimOa > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 44px);
  width: calc(100% + 44px);
}
.freeBox__pimOa > :global(.__wab_flex-container) > *,
.freeBox__pimOa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pimOa > :global(.__wab_flex-container) > picture > img,
.freeBox__pimOa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 44px;
}
.freeBox__pimOa {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 1380px;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pimOa > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    align-items: stretch;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pimOa {
    flex-wrap: wrap;
    align-items: stretch;
  }
}
.columns___7AfyF {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  min-width: 0;
  padding: 8px;
}
.columns___7AfyF > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 0;
  margin-left: calc(0px - 30px);
  width: calc(100% + 30px);
}
.columns___7AfyF > :global(.__wab_flex-container) > *,
.columns___7AfyF > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns___7AfyF > :global(.__wab_flex-container) > picture > img,
.columns___7AfyF
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 30px;
}
.columns___7AfyF {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 0;
  padding: 8px;
}
.columns___7AfyF > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 30px) * 6 / 12);
}
.columns___7AfyF > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 30px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___7AfyF {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___7AfyF > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___7AfyF {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___7AfyF > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 30px) * 12 / 12);
  }
}
.column__a6FsC {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__kVdEg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 434px;
  align-self: flex-end;
  filter: brightness(65%);
  min-width: 0;
  flex-shrink: 0;
}
.img__kVdEg > picture > img {
  object-fit: cover;
}
.img__kVdEg > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__kVdEg {
    max-width: none;
  }
}
.link__wrut5 {
  position: absolute;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  bottom: 40%;
  background: #31313161;
  color: var(--token-ol7Qe2B4StZTc);
  padding: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__wrut5 {
    font-size: 30px;
  }
}
.h2__w7QT {
  color: var(--token-ol7Qe2B4StZTc);
}
.column__pMOod {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__nn3C {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 434px;
  align-self: flex-start;
  filter: brightness(75%);
  min-width: 0;
  flex-shrink: 0;
}
.img__nn3C > picture > img {
  object-fit: cover;
}
.img__nn3C > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__nn3C {
    max-width: none;
  }
}
.link___9Kbhd {
  position: absolute;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  background: #31313161;
  bottom: 40%;
  color: var(--token-ol7Qe2B4StZTc);
  padding: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link___9Kbhd {
    font-size: 30px;
    left: auto;
    top: auto;
    bottom: auto;
  }
}
.h2__vMz32 {
  color: var(--token-ol7Qe2B4StZTc);
}
.footer:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: flex;
}
@media (min-width: 0px) and (max-width: 768px) {
  .footer:global(.__wab_instance) {
    display: flex;
  }
}
.footerBottom:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
